<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<appSettings>
		<add key="charSplit" value=","/>
		<add key="FullFilePath" value="c:\temp\data.csv"/>
		<add key="outputFileNames" value="c:\temp\textNames"/>
		<add key="outputFileAddresses" value="c:\temp\textAddresses"/>
	</appSettings>
</configuration>